/*
 *Name: Caleb Shoupe
 *UnityID: cnhsoupe
 *Date: 09/28/18
 *Assignment: Guided Lab 4
 *Description: Setting up webpages
 */
 
p {
    font-family:Times;
	font-size: 16px;
	color: #000000
}

.table-border {
    border: 1px solid #000000;
}

#photo-resize {
    max-width: 250px ;
	max-height: 300px ;
}
